|Table|Column|Encoding|Est_reduction_pct|
|-----|------|--------|-----------------|
|wheely_prod_orders__backup|_id|raw|0.00|
|wheely_prod_orders__backup|status|zstd|49.93|
|wheely_prod_orders__backup|new_client|zstd|39.04|
|wheely_prod_orders__backup|markup|zstd|99.66|
|wheely_prod_orders__backup|country_code|zstd|60.67|
|wheely_prod_orders__backup|tips|zstd|83.34|
|wheely_prod_orders__backup|tags|zstd|35.80|
